


.rooms{
  margin-bottom: 64px;
}

.room-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
}


.room ul {
  list-style: disc;
  padding-left: 18px;
}

.room ul li {
  margin-bottom: 4px;
}

@media(min-width:1024px){
  .container-card-sale{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .rooms{
    flex: 0 0 calc(50% - 3rem);
  }
}